@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="font-weight:700; background:none;">
    <h1>WELCOME TO DVS LEAGUE</h1>
    <p>DVS League is application for showing leagues details.</p>
</div>

