
@{
    ViewBag.Title = "AddNewTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DVSleague.Models.Team

<h2>Add new team</h2>

@using (@Html.BeginForm("AddTeam", "Team", new { leagueId = ViewBag.LeagueId }, FormMethod.Post, null))
{
    <div class="form-group">
        <label>Team name:</label>
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Country:</label>
        @Html.TextBoxFor(t => t.Country, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>City:</label>
        @Html.TextBoxFor(t => t.City, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

